body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;

}

.container {
    height: 520px;
    width: 735px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.click {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.box {
    width: 70px;
    height: 17px;
    border: solid #ffffff 2px;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.box:hover {
    background: white;

}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    transition: 1s;
    width: 20%;
}

.slide img {
    width: 100%;
    height: 100%;
    opacity: .8;
}

#slide1:checked~.s1 {
    margin-left: 0;
}

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;
}

#slide5:checked~.s1 {
    margin-left: -80%;
}

.tudao {
    width: auto;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}




@media (max-width:800px) {
    .content {
        height: 300px;
        width: 335px;
    }

    .box {
        width: 35px;
        height: 17px;

    }
}